<% content_for :title do %>Contact Me<% end %>
<h3>Contact Me</h3>
<p>To arrange a trade or purchase, simply send an email to:
<br/><br/>
<strong>
frank.garmon.05@cnu.edu
<br/><br/>
Frank Garmon Jr.<br/>
301 15th St. NW, Apt# 3014<br/>
Charlottesville, VA 22903-2993<br/>
USA<br/>
</strong>
</p>