// Place all the styles related to the Stamps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
   font-family: arial, sans-serif;
}

#tag_cloud {
  width: auto;
	line-height: 1.6em;
	.s { font-size: 0.8em; }
	.m { font-size: 1.2em; }
	.l { font-size: 1.8em; }
}

table {
	margin: auto;
}

td, th {
	padding: 15px;
}

td {
	border-bottom: 1px solid grey;
}

thead {
	border-bottom: 2px solid;
}

p {
  font-size: 1.4em;
  padding: 5px; 
}
